<div class="page-container">
  <p>
    [v] deixar responsivo usando flex, com ajuste automático de elementos por
    linha
  </p>
  <p>deixar responsivo usando grid com:</p>
  <p>[v] 4 colunas telas com width > 1000px</p>
  <p>[v] 1 colunas telas com width <= 1000px</p>
  <p class="obs">Obs.: Grid CSS commented</p>
  <div class="wrapper">
    <div class="item blue"></div>
    <div class="item red"></div>
    <div class="item black"></div>
    <div class="item blue"></div>
    <div class="item red"></div>
    <div class="item black"></div>
    <div class="item blue"></div>
    <div class="item red"></div>
    <div class="item black"></div>
    <div class="item blue"></div>
    <div class="item red"></div>
    <div class="item black"></div>
  </div>
</div>
